*{
  background: transparent;
  border: 0 none;
  font-weight: inherit;
  margin: 0 auto;
  padding: 0 ;
  border: 0;
  outline: 0;
  vertical-align: top;
  box-sizing: border-box;
  

    color: black;
    font-family: 'Open Sans',sans-serif;  
    -webkit-font-smoothing: antialiased;
}

  
.mainbody{
  padding-left: 120px;
  padding-right: 120px;
  font-size: 16px;
  line-height: 2
}
.bx bx-home{
  max-width: 20px;
  max-height: 20px;
  display: block
}
.img{
  max-width: 600px;
  height: auto;
}
.nguoi{
  line-height: 3

}
.ulanh{
  line-height: 3
}
.quytrinh{
  font-size: 16px;
}

.ytb{
  display:flex;
  justify-content:center;
  align-items:center
}